:root {
  --color-black: #000;
  --color-grey: #7d7d7d;
  --color-dark-grey: #202327;
  --color-light-grey: #9b9b9b4c;
  --color-white: #e6e9ea;
  --color-hover: #eff3f41a;
  --color-brand: #1d9bf0;
}
